body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #444;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    flex: 1;
    padding: 20px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

.text-content {
    flex: 2;
    padding-right: 20px;
}

.image-content {
    flex: 1;
    max-width: 500px; /* Aumentado a 500px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-pesca {
    max-width: 100%; /* Se mantiene al 100% del contenedor */
    height: auto;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .image-content {
        max-width: 100%;
    }
}
