body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #444;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editable-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.text-content {
    width: 65%;
}

.image-content {
    width: 30%;
    height: 96%;
    display: flex;
    justify-content: flex-end;
}

.editable-section img {
    max-width: 100%;
    height: auto;
}

.image2-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    .editable-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .text-content, .image-content {
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }

    .image2-content {
        width: 100%;
    }
}
